# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environments
venv/
.venv/
env/

# Flask & Database
instance/
*.db
*.sqlite3

# Environment Variables
.env

# Logs
*.log

# IDEs
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db

# Distribution / Packaging
dist/
build/
*.egg-info/